@model IEnumerable<KarlOberstV2.Models.Genero>


<h2>Tienda</h2>

<h3>Géneros disponibles: @Model.Count()</h3>

<ul>
    
        @foreach (var gen in Model)
        {
            <li>
                @Html.ActionLink(
       gen.Nombre,
       "buscar",
       "Store",
       new
       {
           genero = gen.Nombre
       },
       new
       {
           @title = gen.Descripcion
       })
            </li>
                @*<li>@gen.Nombre</li>*@
                }
            
</ul>
